h1,h2
{
text-align: center;
color: #ffff00;
font-family: arial
}
body { background-image: url("beranda.jpg"); background-repeat: repeat-y; background-attachment: fixed }
body { background:#000000; color:#ffff00 }
A:link { color: red; background:#000000 }
A:visited { color: blue; background:#000000 }
A:hover { color: green; background:#000000 }
A:active { color: lime; background:#000000 }
